.mat-mdc-table {
  width: 100%;
  margin-bottom: 1rem;
}

.mat-mdc-paginator {
  margin-top: 1rem;
  background: transparent;
}

.mat-mdc-header-cell {
  font-weight: 600;
}

.filter-reservations {
  display: flex;
  flex-direction: column;
  width: 30%;
}