@if (shows) {
<div class="ticket-info-container">
    <div>
        <div class="ticket-header">
            <mat-icon class="card-icon star-icon">local_activity</mat-icon>
            <h3>{{ ticketSaleStarted ? "Koop hier je tickets:" : "Tickets zijn beschikbaar vanaf 20 december."}} </h3>
        </div>
        @if(ticketSaleStarted) {
        <div class="navigation-buttons">

            @for (show of shows; track $index) {
            <button mat-raised-button [routerLink]="'/tickets/' + show.id" routerLinkActive="active">
                <mat-icon>local_activity</mat-icon>
                <span>{{ show.day }}</span>
            </button>
            }
        </div>
        }
    </div>

    <div class="info-grid">
        <div class="info-card">
            <div class="card-header">
                <mat-icon class="card-icon">event</mat-icon>
                <h3>DATA & UREN</h3>
            </div>
            <div class="card-content">
                <div class="date-info">
                    @for (show of showDates; track $index) {
                    <p><strong>{{ show.day }}</strong> {{ show.date }} om <span class="time">{{ show.time }}</span>
                        @if (showIsSoldOut(show.day)) {
                        <strong class="sold-out"> UITVERKOCHT</strong>
                        }
                    </p>
                    }

                </div>
            </div>
        </div>

        <div class="info-card">
            <div class="card-header">
                <mat-icon class="card-icon">place</mat-icon>
                <h3>LOCATIE</h3>
            </div>
            <div class="card-content">
                <p><strong>{{ venue.name }}</strong></p>
                <p>{{ venue.street }}</p>
                <p>{{ venue.city }}</p>
            </div>
        </div>

        <div class="info-card">
            <div class="card-header">
                <mat-icon class="card-icon">euro</mat-icon>
                <h3>PRIJZEN</h3>
            </div>
            <div class="card-content">
                @for (price of ticketPrices; track $index) {
                <div class="price-item">
                    <span class="price-label">{{ price.type }}:</span>
                    <span class="price-value">{{ price.amount }}</span>
                </div>
                }
            </div>
        </div>
    </div>

    <div class="info-card vip-card">
        <div class="card-header">
            <mat-icon class="card-icon star-icon">star</mat-icon>
            <h3>Tejo</h3>
        </div>
        <div class="card-content">
            <p class="vip-description" [innerHTML]="vipInfo.description"></p>
        </div>
    </div>
</div>
}