<div class="mx-auto max-w-4xl flex-1 space-y-6 w-full">
    <div class="space-y-4 rounded-lg p-4 shadow-sm reservation-summary">
        <p class="text-xl summary-title">Reservatie</p>
        <div class="space-y-4">
            <div class="space-y-2">
                <dl class="flex items-center justify-between gap-4">
                    <dt class="font-medium">Volwassenen</dt>
                    <dd class="font-medium">
                        {{reservationService.priceForAdults() | currency}}
                    </dd>
                </dl>
                <dl class="flex items-center justify-between gap-4">
                    <dt class="font-medium">Kinderen</dt>
                    <dd class="font-medium">
                        {{reservationService.priceForChildren() | currency}}
                    </dd>
                </dl>
            </div>

            <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2">
                <dt class="font-medium">Total</dt>
                <dd class="font-medium">
                    {{reservationService.totalPrice() | currency}}
                </dd>
            </dl>
        </div>
    </div>
</div>