@import '../../../styles/variables';

.concert-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 250px;
    padding: 0 20px;
    margin-bottom: 50px;
    
    @media (max-width: 768px) {
        gap: 60px;
        margin-top: 120px;
        padding: 0 16px;
    }
    
    @media (max-width: 480px) {
        gap: 40px;
        margin-top: 80px;
        padding: 0 12px;
    }
}

.affiche {
    height: 400px;

    @media (max-width: 650px) {
        height:fit-content;
    }
}